textarea{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: left;
}

.container{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
}

.textarea{
	width: 80%;
	margin-left: 10%;
}

.button{
	width: 100px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 30px;

}


textarea:focus{
	
}
